body {
  background-color: #111827;
}

#buttons {
  display: flex;
  justify-content: center;
  gap: 10em;
  margin-top: 10%;
}

button {
  scale: 200%;
}

#score {
  display: flex;
  justify-content: center;
  gap: 1em;

  color: white;
  font-size: 2.5em;
}

#message {
  display: flex;
  justify-content: center;
  color: lightgray;
  font-size: 2em;
}
